* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.relative {
    position: relative;
    top: 0px;
    left: 10px;
    padding: 5px;
    background-color: lightblue;
}

.relative-parent {
    position: relative;
    background-color: lightsalmon;
    padding: 5px;
    height: 200px;
}

.absolute {
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px;
    background-color: lightgreen;
    width: 50px;
}

.absolute-orphan {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
}

.fixed {
    position: fixed;
    padding: 5px;
    background-color: yellow;
    bottom: 5px; ;

}

.grid-content {
    max-width: 960px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,lfr);
    grid-auto-rows: 200px;
}

.grid-content div {
    background-color: lightblue;
    padding: 30px;
}

.grid-content div:nth-child(even) {
    background-color: pink;
}

