PORT=8000

APP_NAME=MyFullstackApp

DATABASE_URL=postgresql://user:password@localhost:5432/mydatabase?schema=public

AUTH_JWT_SECRET=your_jwt_secret_key

NODEMAILER_EMAIL=your_email@example.com
NODEMAILER_PASSWORD=your_email_password

CLIENT_URL=http://localhost:3000