body{
    background-color: #f2eae2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;

}

.card__img {
  width: 100%;
  display: block;
}


    .card__content {
        display: flex;
        padding: 24px;
        flex-direction: column;
        gap: 16px;
    }

.card__type {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-size: 14px;
}

.card__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;

}

.card__description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    font-size: 16px;

}

.card__price-current {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

.card__price-old {
    font-size: 14px;
    color: grey;
    opacity: 80%;
}


.card__price {
  display: flex;
  align-items: center;
  gap: 12px;
}


.card__button {
    background-color: #3c8067;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease;
}

.card__button:hover {
    background-color: #2f6f59;
}


